<app-fuente-materialize></app-fuente-materialize>
<app-share></app-share>
<div style="padding-top: 2%;">
    <div class="container h-100">
      
      <table mat-table [dataSource]="MyDataSource">

        <!-- Rut Column -->
        <ng-container matColumnDef="rut">
          <th mat-header-cell *matHeaderCellDef> Rut. </th>
          <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Bank Column -->
        <ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef> Banco </th>
          <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
        </ng-container>
    
        <!-- TypeAccount Column -->
        <ng-container matColumnDef="typeAccount">
          <th mat-header-cell *matHeaderCellDef> Tipo de cuenta </th>
          <td mat-cell *matCellDef="let element"> {{element.typeAccount}} </td>
        </ng-container>

              <!-- TypeAccount Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef>Monto </th>
          <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
</mat-paginator>
  
    </div>
</div>


