<nav>
    <div class="nav-wrapper">
      <p class="brand-logo center">Mi banco - Nueva Transferencia</p>
      <ul id="nav-mobile" class="nav justify-content-end">
        <li class="SpaceButton nav-item"><button type="button" class="btn buttonbankCreate" (click)="RedirectNewDestinatario()">Nuevo Destinatario</button>
        </li>
        <li class="SpaceButton nav-item"><button type="button" class="btn buttonBankColor" (click)="RedirectTransfer()">Transferir</button></li>
        <li class="nav-item SpaceButton"><button  type="button" class="btn buttonBankColor" (click)="RedirectHistory()">Historial</button>
        </li>
        <li class="nav-item SpaceButton"> <i class="material-icons iconColor">person</i>
        </li>
      </ul>
    </div>
  </nav>
