.buttonBankColor{
    background-color:#6f42c1;
}

.iconColor{
    color: #6f42c1;
}

.buttonbankCreate{
    background-color: #ffc107;
}
.SpaceButton{
    padding-right: 1%;
}

.nav{
 background-color: #FFFF !important;
}

nav .brand-logo {
    color: #161616;
}


.btn:hover, .btn-large:hover, .btn-small:hover, .btn:focus {
    background-color: #6835c5;
}